 * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
 }
 html {
       font-size: 62.5%;
 }
 body {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .mdiv {
        position: relative;
        height: 6rem;
        width: 100vw;
        
 }
.heade { 
         position: sticky;
         font-family: roboto, helvetica Neue, san serif;
         background-color: rgb(255, 255, 255);
         padding: 1.3rem;
}
.fhead { 
        position: absolute;
        top: 2rem;
        left: 5.5rem;
        color: gray;
        font-weight: lighter;
        font-size: 2rem;
        font-family: Helvetica, sans-serif;
}
.headerbtn {
            position: absolute;
            top: 5px;
            right: 5rem;
}
.btn1 {
    background-color:inherit;
    color:black;
    border:none;
    border-radius: 15px;
    padding:1.2rem;
    margin: 5px 20px;
    font-weight: bold;
}
.btn2 {
    background-color:rgb(121, 121, 243);
    color:white;
    border:none;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0px;
    font-weight: bold;
}
.mdiv1 {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       height: 200vh;
       width: 100vw;
}
.sec1 {
       text-align: center;
       color: rgb(73, 68, 68);
       font-family: Helvetica, sans-serif;
}
.sec1 img {
    max-width: 100%;
}
.sec2 img {
    max-width: 100%;
    height: auto;
}
.sec3 img {
    max-width: 100%;
    height: auto;
}
#hone {
       font-size: 6rem;
       font-weight: 400;
}
#h2i {
      font-size:2.5rem;
      font-weight: 100;
}
.btn3 {
    background-color: rgba(29, 158, 130, 0.952);
    color:white;
    border:none;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 5px 20px;
    font-weight: bold;
}
#h3i {
      font-weight: lighter;
      font-size: 3rem;
}
h5 {
    font-weight: lighter;
    font-size: 1.7rem;
}
.mdiv2 {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       background-color: #e4dede;
       width: 100vw;
       min-height: 130vh;
}
.sec2 {
       text-align: center;
}
.mdiv3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 80rem;
}
.sec3 {
   text-align: center;
}
.mdiv4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #e4dede;
    height: 40rem;
    width: 100vw;     
}
.sec4 {
    text-align: center;
 }
 .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
 }
 .foot1 {
         width: 70%;
         font-size: 1rem;
 }
 .foot2 {
         position: absolute;
         left: 200px;
 }
 .foot3 {
        
         font-size: 1.5rem;
 }
 .lastflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5rem;
 }
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     margin-right: 20rem;
     margin-left: 10rem;
    }
  
  li {
    float: left;
    color: black;
    padding-left: 20px;

}
li a { 
    text-decoration: none;
    color: black;
}
.foot4 {
        word-spacing: 10px;
}
.btn1 a {
    text-decoration: none;
    color: black;
}
.btn2 a {
    text-decoration: none;
    color: white;
}
.btn3 a {
    text-decoration: none;
    color: white;
}
#fp {
    text-decoration: none;
    font-size: 1.3rem;
}
#fp a {
    text-decoration: none;
    color: #000;
}
.qstmark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
}